.container {
  background: linear-gradient(to right, #f5f5f5 50%, #ececec 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.3s ease;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.left {
  width: 45%; /* Ajusta el ancho según tus preferencias */
}

.right {
  width: 50%; /* Ajusta el ancho según tus preferencias */
  padding-left: 20px;
}

.image {
  max-width: 100%;
  height: auto;
}

.back {
  background-color: #ff0000; /* Cambia el color de fondo a rojo */
  color: #fff; /* Cambia el color del texto a blanco */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none;
  border-radius: 25px; /* Aumenta el valor del border-radius para hacerlo más redondeado */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición de color al pasar el mouse sobre el botón */
}

.back:hover {
  background-color: #cc0000; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}
